# Binaries
maestro-runner
maestro-runner-*
*.exe

# Build artifacts
bin/

# Test coverage & profiling
coverage.out
coverage.html
*.test
*.out
*.prof

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
pkg/cli/reports/
reports/
apks/
docs/
CLAUDE.md
.claude/
